# Server Configuration
PORT=3000

# GCP Configuration
GCP_PRIMARY_PROJECT_ID=
GCP_PROJECT_A_ID=
GCP_PROJECT_B_ID=

# Database Configuration (Prisma)
DATABASE_URL=
DATABASE_URL_PRIMARY=
DATABASE_URL_SECONDARY=

# Redis / Other (Examples)
# REDIS_URL=
