# Server Configuration
PORT=3000

# CORS Configuration
# ALLOWED_ORIGINS=*
# ALLOWED_ORIGINS=http://localhost:3000,http://app.meudominio.com

# GCP Configuration
GCP_PRIMARY_PROJECT_ID=
GCP_PROJECT_A_ID=
GCP_PROJECT_B_ID=

# Database Configuration (Bitnami Postgres)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Prisma Connection
DATABASE_URL=
# SHADOW_DATABASE_URL= # Opcional: Necessário apenas para Migrate em DBs de Cloud restritos

DATABASE_URL_PRIMARY=
DATABASE_URL_SECONDARY=

# OpenTelemetry Configuration
OTEL_SERVICE_NAME=nest-template
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318

# Collector External Exporters
JAEGER_URL=jaeger:4317
DD_URL=datadoghq.com
DD_KEY=
