# Server Configuration
PORT=3000

# GCP Configuration
GCP_PRIMARY_PROJECT_ID=
GCP_PROJECT_A_ID=
GCP_PROJECT_B_ID=

# Database Configuration (Bitnami Postgres)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Prisma Connection
DATABASE_URL=
# SHADOW_DATABASE_URL= # Opcional: Necessário apenas para Migrate em DBs de Cloud restritos

DATABASE_URL_PRIMARY=
DATABASE_URL_SECONDARY=
